@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

:root {
  --light: #fffcfa;
  --dark: #111;
}

body {
  background-color: #014d01;
}

.canvas-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: url('./images/others/grass_night.png');
  max-width: 100%;
  max-height: 100%;
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.8),
              10px -10px 40px rgba(0, 0, 0, 0.8);
}

.controls {
  position: absolute;
  top: 5px;
  left: 50%;
  translate: -50% 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border: none; 
}

.buttons {
  width: 350px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 auto;
}

.buttons button {
  width: 100px;
  background: transparent;
  color: var(--light);
  outline: none;
  border: 1px solid var(--light);
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.score-screen {
  margin-top: 15px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  color: var(--light);
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.score-screen p {
  font-size: 18px;
}

.player-choice {
  margin-top: 10px;
  display: flex;
  justify-content: space-between
}

.player-choice-left,
.player-choice-right {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-wrap: wrap;
}

.player-choice-left {
  text-align: left;
}

.player-choice-right {
  text-align: right;
}

.player1, .player2,
.player3, .player4 {
  padding: 10px;
}

.player-label {
  color: var(--light);
}

label {
  color: var(--light);
 
}
.player-controls {
  display: block;
  color: var(--light);
  background-color: transparent;
  padding: 3px;
  margin-top: 15px;
  cursor: pointer;
}

option {
  color: var(--dark);
}