@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgreen;
  color: #49c0ee;
  font-family: 'League Spartan', sans-serif;
}

#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: url('./images/others/grass_night.png');
  max-width: 100%;
  max-height: 100%;
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.8),
              10px -10px 40px rgba(0, 0, 0, 0.8);
}

#controls {
  position: absolute;
  top: 5px;
  left: 50%;
  translate: -50% 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  border: 3px solid #fffaf0;
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.8),
              10px -10px 40px rgba(0, 0, 0, 0.8);
}

#buttons {
  width: 440px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#buttons button {
  width: 140px;
  background: #fffaf0;
  color: #111;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

#scoreScreen {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  color: #fffaf0;
  font-weight: 500;
  text-transform: uppercase;
}

#scoreScreen > div {
  border: 1px solid black;
}